@page
@model DairyFarm.Pages.Cattle.CattleViewModel
@{
    ViewData["Title"] = "Cow View";
}

<div class="cattleview-container">
    <div class="cattleview-left">
        <h3>Cow List</h3>
        <ul class="cattleview-cow-list">
            @foreach (var cow in Model.Cows)
            {
                <li>
                    <button class="cattleview-cow-item" data-cow-id="@cow.CowId">@cow.CowName</button>
                </li>
            }
        </ul>
    </div>

    <!-- Right Upper Div: Cow Details -->
    <div class="cattleview-right-upper">
        <div id="cattleview-details-content">
            <!-- Cow details will be loaded dynamically -->
        </div>
    </div>

    <!-- Right Lower Div: Forms -->
    <div class="cattleview-right-lower">
       
        <div id="cattleview-form-content">
            <!-- Forms will be loaded dynamically -->
            @if (TempData["MilkMsg"] != null)
            {
                <div class="alert alert-success">@TempData["MilkMsg"]</div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Load cow details when a cow is clicked
            $(".cattleview-cow-item").on("click", function () {
                const cowId = $(this).data("cow-id");
                console.log(cowId)
                // Highlight the selected cow
                $(".cattleview-cow-item").removeClass("active");
                $(this).addClass("active");

                // Load cow details in the upper right div
                $.ajax({
                    url: `@Url.Page("CattleView", new { handler = "CowDetails" })&id=` + cowId,
                    type: "GET",
                    success: function (data) {
                        $("#cattleview-details-content").html(data);
                    },
                    error: function () {
                        alert("Failed to load cow details.");
                    }
                });

                // Clear lower-right div
                $("#cattleview-form-content").empty();
            });

           


           
      


        });
    </script>


}
