@model DairyFarm.Model.CowStatsViewModel
<div class="cow-stats">
    <h3>Statistics</h3>
    <p>Milk Produced: @Model.MilkProducedLiters Liters</p>
    <p>Expenses: $@Model.Expenses</p>
    <p>Income: $@Model.Income</p>
</div>
