@model DairyFarm.Model.CowDetailsViewModel

<div class="cattleview-cow-details">
    <h2>@Model.Name</h2>
    <ul>
        <li><strong>Breed:</strong> @Model.Breed</li>
        <li><strong>Birth Date:</strong> @Model.DOB.ToString("yyyy-MM-dd")</li>
    </ul>
</div>

