@page
@model DairyFarm.Pages.Forms.ByproductModel
@{
}

@{
    if (TempData["Message"] != null)
    {
        <div class="alert-success">@TempData["Message"] </div>
    }
}

<style>

</style>

<div>
    <h1>
        ByProduct Details
    </h1>
</div>

<form method="post">

    <div class="form-group">
        <label asp-for="byprod.Date" class="control-label">Date :</label>
        <input type="date" asp-for="byprod.Date" class=" form-control" placeholder="Enter Date" />
        <span asp-validation-for="byprod.Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="byprod.Type" class="control-label">Type :</label>
        <select asp-for="byprod.Type" class="form-select">
            @foreach(var product in Model.byProducts)
            {
                <option value="@product.Type">@product.Type</option>
            }
        </select>
        <span asp-validation-for="byprod.Type" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="byprod.Quantity" class="control-label">Quantity :</label>
        <input  type="number" asp-for="byprod.Quantity" class=" form-control" placeholder="Enter the Quantity" />
        <span asp-validation-for="byprod.Quantity" class="text-danger"></span>
    </div>

   
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-dark btn-lg" style="background-color: #28a745; border-color: #28a745;">Done</button>
    </div>

</form>