@page
@model DairyFarm.Pages.Forms.ByproductModel
@{
}

<div>
    <h1>
        ByProduct Details
    </h1>
</div>

<form method="post">

    <div class="form-group">
        <label asp-for="byprod.Date" class="control-label">Date :</label>
        <input type="date" asp-for="byprod.Date" class=" form-control" placeholder="Enter Date" />
        <span asp-validation-for="byprod.Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="byprod.Type" class="control-label">Type :</label>
        <input asp-for="byprod.Type" class=" form-control" placeholder="Enter ByProduct Type" />
        <span asp-validation-for="byprod.Type" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="byprod.Quantity" class="control-label">Quantity :</label>
        <input  type="number" asp-for="byprod.Quantity" class=" form-control" placeholder="Enter the Quantity" />
        <span asp-validation-for="byprod.Quantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="byprod.Revenue" class="control-label">Type :</label>
        <input asp-for="byprod.Revenue" class=" form-control" placeholder="Enter the Amount" />
        <span asp-validation-for="byprod.Revenue" class="text-danger"></span>
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-dark btn-lg" style="background-color: #28a745; border-color: #28a745;">Done</button>
    </div>

</form>